_old
.cache*
.classpath
.dockerignore
.DS_Store
.env
.envrc
.git
.gitignore
.gradle
.metadata
.nyc_output
.project
.settings
.tap/
.worksheet
*.bak
*.log
*.log.*
*.temp
*.tmp
*~*
/.vscode
/*/build/
/coverage
/dist
/jenkins
/target-eclipse/
/target/
# *.class
# /*.min.js*
# dist/
bin/
build/
Dockerfile
Dockerfile*.*
Jenkinsfile
Jenkinsfile*.*
local.properties
node_modules
npm-debug.log
out/
RemoteSystemsTempFiles/
Servers/
temp/
Thumbs.db
tmp/
