_old/
.cache
.DS_Store
.env
.envrc
.eslintcache
.grunt
.idea
.lock-wscript
.metadata
.node_repl_history
.npm
.nyc_output
.settings
.tap/
.vscode
.yarn-integrity
*.bak
*.crt
*.db
*.key
*.log
*.pem
*.pid
*.pid.lock
*.secret
*.seed
*.swp
*.tar
*.tar.gz
*.tgz
*.tsbuildinfo
*.zip
*~*
*clinic*
*flamegraph*
bin/
bower_components
build/
build/Release
coverage
dist/
docs/
jspm_packages/
lib-cov
logs/
node_modules/
npm-debug.log*
out/
package-lock.json
pids
private/
profile*
temp/
Thumbs.db
tmp/
web_modules/
yarn-debug.log*
yarn-error.log*
yarn.lock
