_old/
.babelrc
.cache
.clinic
.dependabot
.dockerignore
.DS_Store
.editorconfig
.env
.envrc
.esdoc.json
.eslintcache
.eslintignore
.eslintrc*
.gitattributes
.github
.gitignore
.idea
.jsdoc.json
.metadata
.nyc_output
.settings
.tap/
.taprc
.travis.yml
.vscode
.yarn-integrity
*~*
*.bak
*.crt
*.db
*.key
*.log
*.map
*.pem
*.pid
*.secret
*.tar
*.tar.gz
*.tgz
*.zip
/jenkins
# dist/
dist/test/
# example/
AGENTS.md
BUILD.md
build/
CLAUDE.md
coverage/
Dockerfile
Dockerfile*.*
docs/
gulpfile.*
jenkins.sh
Jenkinsfile
Jenkinsfile*.*
jsdoc-conf.*
lib/
logs/
out/
private/
scripts/
SKILLS.md
src/
temp/
test/
tmp/
TODO.*
tools/
tslint.json
