
/*#region Variables definitions */
:root {
	--neutral-light-color:#ffffff;
	--neutral-dark-color:#000000;
	--invalid-color:pink;
	--confirmed-color:lightgreen;
	--gray-light-color:#F6F6F6;
	--gray-mid-color:#EEEEEE;
	--gray-dark-color:#252627;
	--blueish-color:#007ACC;
	--reddish-color:#FF0000;
	--greenish-color:#4D8618;
	--orangish-color:#F15D2A;
	--yellowish-color:#FFDE00;
	--purpleish-color:#3F0E40;
	--sugar-paper-color:#56C2C2;
	--reddish-alternate-color:#cd0c12;
	--greenish-alternate-color:#57ad0a;
	--blueish-alternate-color:#297CA3;
	--blueish-light-alternate-color:#DCEDF5;
	--yellowish-alternate-color:#ffee00;
	--yellowish-light-alternate-color:#F5F4DC;
	--blueish-pale-color:#595A7B;
	--blueish-dark-pale-color:#3B3C5B;
	--blueish-light-pale-color:#8283AC;
	--greenish-pale-color:#CAE8DE;
	--grayish-pale-color:#FBFAFB;
	--yellowish-pale-color:#EFE3C4;
	--blue-ocean-color:#4A8FE2;
	--green-ocean-color:#58A700;
	--red-ocean-color:#C4000A;
	--yellow-ocean-color:#F59700;
	--blue-ocean-light-color:#4C9BD5;
	--green-ocean-light-color:#8EBF63;
	--red-ocean-light-color:#D95F5C;
	--yellow-ocean-light-color:#F6B44A;
	--black-ocean-color:#404040;
	--gray-ocean-color:#979797;
	--white-ocean-color:#FFFFFF;

	--main-fg-color:var(--neutral-dark-color);
	--main-bg-color:var(--sugar-paper-color);
	--main-dark-bg-color:var(--gray-dark-color);
	--main-light-bg-color:var(--orangish-color);

	--test-color:var(--reddish-alternate-color);
}

/*#endregion*/


/*#region General styles */
html {
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}
*, *:before, *:after {
	-webkit-box-sizing:inherit;
	        box-sizing:inherit;
}
* {
	margin:0;
	border:0;
	padding:0;
}
html, body {
	background-color:var(--neutral-light-color);
	color:var(--main-fg-color);
	padding:0;
	margin:0;
	font-weight:normal;
	font-family:"Open Sans", "Helvetica Neue", "Calibri Light", Roboto, Arial, sans-serif;
	letter-spacing:0.02em;
}
header, nav, footer, section {
	padding:0;
}

#app, container, .container-fluid {
	padding:0;
}

svg {
	fill:currentColor;
}

/*#endregion*/


/*#region Page layout */

/*
#page-body, #page-content, header, nav, aside, footer,
.header, .main, .navigation, .primary, .secondary, .content, .footer {
}
 */

aside, .primary, .secondary {
	display:none;
}

header, .header {
	background-color:var(--blueish-color);
	font-weight:400;
	font-size:1em;
	padding:0 0 0.4em 0;
	display:flex;
	flex-direction:column;
	/* flex-wrap:wrap; */
	justify-content:center;
	align-items:center;
	align-content:space-between;
}

footer, .footer {
	background-color:var(--orangish-color);
	color:var(--gray-dark-color);
	text-transform:capitalize;
	font-weight:100;
	font-size:0.8em;
	padding:0.4em;
	display:flex;
	flex-direction:row;
	/* flex-wrap:wrap; */
	justify-content:center;
	align-items:center;
	align-content:space-between;
}

nav, .navigation, 
.navbar {
    display:flex;
    flex-direction:row;
    align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	text-transform:capitalize;
	font-weight:400;
	z-index:100000;
	padding:0 1em 0 1em;
	margin:0 0 0.25em 0;
	text-align:center;
}
nav ul, .navigation ul, 
footer ul, .footer ul {
	list-style:none;
	margin-bottom:0;
	text-align:center;
	padding:0;
}
nav ul li, .navigation ul li, 
footer ul li, .footer ul li {
	display:inline-block;
	vertical-align:middle;
	letter-spacing:normal;
	min-width:2em;
}
nav a, nav a:link, nav a:visited, 
nav ul li a, nav ul li a:visited,
.navigation a, .navigation a:link, .navigation a:visited {
	text-decoration:none;
	color:var(--neutral-light-color);
	opacity:0.8;
	padding:0.2em;
}
nav a, nav ul li a,
footer a, footer ul li a,
.footer a, .footer ul li a {
	color:var(--main-fg-color);
}
nav a:hover, nav ul li a:hover {
	opacity:1;
	mix-blend-mode:difference;
	text-decoration:underline;
}
/*
nav ul li:not(:last-child)::after, .navigation ul li:not(:last-child)::after {
	content:"|";
	padding-left:0.25em;
}
 */
nav span, nav img {
	display:inline-block;
	vertical-align:middle;
}
footer ul, .footer ul {
	list-style:none;
	text-align:center;
	padding:0;
}
footer a, footer a:link, footer ul li a:visited,
.footer a, .footer a:link, .footer ul li a:visited {
	text-decoration:none;
	opacity:0.8;
	color:var(--main-fg-color);
}
footer a, .footer a, 
footer ul li, .footer ul li {
	text-transform:none;
}
footer a:hover, footer ul li a:hover {
	opacity:1;
	color:var(--neutral-light-color);
	/* mix-blend-mode:difference; */
	text-decoration:underline;
}
footer ul li:not(:last-child)::after, .footer ul li:not(:last-child)::after {
	content:"~";
	/* padding-right:0.25em; */
	padding-left:0.25em;
}
footer p, .footer p {
	text-align:center;
}

section {
	padding:1em 0 1em 0;
}
section div {
	/* max-width:80%; */
	margin:0 auto;
}

#logo img {
	min-height:1em;
	max-height:1.4em;
	display:inline-block;
}

#content, #page-content {
	padding:0;
}

.fixedTop > header, .fixedTop > nav {
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
}

.stickyTop {
	position:fixed;
	top:0;
	width:100%;
}
.stickyTop + .content {
	padding-top:0.2em;
}

.modal {
	z-index:1000000;
}

/*#endregion*/


/*#region Others */
h1, h2, h3, h4 {
	font-size:1em;
	text-align:center;
}
h1 {
	color:var(--main-fg-color);
	font-weight:700;
	font-size:2em;
	margin:0.8em 0 0.25em 0;
	text-transform:uppercase;
}
h2 {
	color:var(--main-fg-color);
	font-weight:700;
	font-size:1.78em;
	margin:0.6em 0 0.2em 0;
	text-transform:uppercase;
}
h3 {
	color:var(--main-fg-color);
	font-weight:700;
	font-size:1.44em;
	margin:0.4em 0 0.2em 0;
}
h4 {
	color:var(--main-fg-color);
	font-weight:700;
	font-size:1em;
	margin:0.2em 0 0.2em 0;
}
h5, h6 {
	font-size:0.56em;
}

hr {
	background:currentColor;
	height:2px;
	margin:0.2em 0 0.2em 0;
}

ul {
	margin:0 1em 0 1em;
}

/* To avoid the 300 ms delay on  mobile devices */
a[href], button {
	touch-action:manipulation;
}

/* input[type=text] { */
input:not([type=submit]):not([type=file]) {
	border:1px solid  var(--gray-mid-color);
}

table {
	width:100%;
}
th {
	background-color:var(--gray-mid-color);
	text-align:center;
}
table, tr, td, th {
	border:1px solid black;
	padding:0.25em;
}
tr:hover {
	background-color:var(--yellowish-light-alternate-color);
}

/*#endregion*/


/*#region Custom styles */
.container, .wrapper {
	padding-left:0.1em;
	padding-right:0.1em;
}
.row {
	margin:0;
}

.page-header, .page-footer {
	background-color:var(--main-bg-color);
	text-align:center;
}

tr.selected {
	background-color:var(--blueish-light-alternate-color);
	font-weight:700;
}

.my-panel {
	padding:1em;
}
.my-form, input.my-form {
	padding-left:1em;
	padding-right:1em;
}

/*#endregion*/


/*#region General */
.hidden {
	display:none;
}
.responsive_image {
	max-width:100%;
	height:auto;
}
.centered {
	text-align:center;
}
.right {
	text-align:right;
}
.unselectable {
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.debug {
	border:1px dashed var(--reddish-color) !important;
	font-size:0.8em;
	font-family:'Courier New', Courier, monospace;
	display:none;
}
.grow {
	max-width:100%;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.grow:hover {
	overflow:hidden;
	-webkit-transform:scale(1.2);
	        transform:scale(1.2);
}
.marker {
	border:1px dashed var(--reddish-color) !important;
}
.noBorder {
	border:0 !important;
}
.noMargin {
	margin:0;
}

ul.noDash, .noDash {
	list-style-type:none;
}
li.noDash, .noDash {
	word-break:break-all;
}
ul.noList {
	list-style:none
}
ul.dashList {
	list-style-type:'-';
}
ul.decimalList {
	list-style-type:decimal;
}

.disabled {
	cursor:not-allowed;
	opacity:0.5;
}
a.disabled, a[aria-disabled="true"] {
	color:currentColor;
	display:inline-block;
	pointer-events:none;
	text-decoration:none;
}

/*#endregion*/


/*#region Colors */
.coloredBackground {
	background-color:var(--main-bg-color);
}
.coloredBackground_dark {
	background-color:var(--main-dark-bg-color);
}
.coloredBackground_light {
	background-color:var(--main-light-bg-color);
}
.coloredBackground_gray {
	background-color:var(--gray-mid-color);
}
.coloredBackground_warning {
	background-color:var(--yellowish-light-alternate-color);
}
.coloredBackground_ok {
	background-color:var(--greenish-alternate-color);
}
.coloredBackground_ko {
	background-color:var(--reddish-alternate-color);
}
.coloredForeground {
	color:var(--main-bg-color);
}

.invalid {
	background-color:var(--invalid-color);
}
.confirmed {
	background-color:var(--confirmed-color);
}
.dirty {
	border:var(--invalid-color) 1px solid;
}

/*#endregion*/


/*#region Mobile platforms */

/*#region Extra Small Devices, Phones, but in Landscape mode */
@media screen and (min-width:640px) {
	* {
		padding:0;
	}
	section div {
		max-width:100%;
	}
	aside, .primary, .secondary {
		font-size:0.6em;
		min-width:25%;
		/* max-width:33%; */
		display:block;
	}
	#wrapper, #content, #page-content, 
	.main, .content {
		min-width:50%;
	}
	header, .header {
		font-size:1.2em;
	}
	section {
		padding:1em 0 1em 0;
	}
	hr {
		margin:1em 0 1em 0;
		padding:0;
	}
	ul {
		margin:0 1em 0 1em;
	}
}

/*#endregion*/

/*#region Small Devices, Tablets */
@media screen and (min-width:768px) {
	* {
		padding:0.1em;
	}
	section div {
		max-width:90%;
	}
	.homeController, .summaryController, .menuController, .detailController, .errorController {
		border:0;
	}
	.debug {
		display:block;
	}
	.out {
		display:none;
	}
	.in {
		display:inline-block;
	}
}

/*#endregion*/

/*#region Medium Devices, Desktops */
@media only screen and (min-width :992px) {
	* {
		padding:0.2em;
	}	
	section div {
		max-width:80%;
	}
}

/*#endregion*/

/*#endregion*/


/*#region Print styles */
@media print {
	body {
		background:var(--neutral-light-color); 
		color:var(--main-fg-color);
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:normal;
		font-size:12pt;
		padding:0;
		margin:0;
		width:100%;
	}
	nav, aside,
	#menu, .debug {
		display:none;
	}
	#wrapper, #content, #page-content { 
		width:auto; 
		margin:0 5%; 
		padding:0; 
		border:0; 
		float:none !important; 
		color:black; 
		background:transparent none; 
	}
	a { 
		background:transparent; 
		font-weight:bold; 
		text-decoration:underline; 
	}
	article {
		page-break-before:always;
	}
	h2, h3 {
		page-break-after:avoid;
	}
	img {
		max-width:100% !important;
		page-break-inside:avoid;
	}
	@page {
		margin:1cm;
	}
}

/*#endregion*/
