<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %> - <%= project %></title>
	<link rel='stylesheet' href='<%= assets %>css/style.css' />
	<link rel='shortcut icon' href='/favicon.ico' />
</head>
