<main id="content">
    <div class="marker">
        <h3>Hello from Index fragment page.</h3>
        <br/>
        <p>Note that a global layout has been set for all pages.</p>
    </div>

    <%- include('fragment-welcome') -%>

    <%- include('fragment-sample-routes') -%>
    <%# - include('fragment-spacer') -%>
    <%- include('fragment-plugin-routes') -%>
</main>
