<footer>
    <ul>
        <li><a href="#top" alt="">Top</a></li>
        <li><%= projectName %>-v<%= projectVersion %>&nbsp;</li>
        <li>Environment: <%= environment %>&nbsp;</li>
    </ul>
</footer>
