<section class="coloredBackground_gray">
    <div class="marker">
        <h3>Hello from a template fragment.</h3>
        <br/>
        <p>Note that a global layout has been set for all pages.</p>
    </div>

    <div class="">
        <h2>
            <%= welcome %>
        </h2>
    </div>
</section>
