<footer>
    <ul>
        <li><a href="#top" alt="">Top</a></li>
        <li><%= projectName %>-v<%= projectVersion %></li>
        <li>Environment: <%= environment %></li>
    </ul>
</footer>
