<nav>
  <ul>
    <li><a href="/" alt="Home page" >Home</a>&nbsp;</li>
    <li><a class="disabled" alt="Login user" title="Login to protected area" >Login</a></li>
    <li>
      <span>
        <a href="https://github.com/smartiniOnGitHub/fastify-example" alt="Project Sources" title="Browse project sources at GitHub" target="source">
          <img src="<%= assets %>img/GitHub-Mark-Light-32px.png" alt="GitHub Logo"/>
          &nbsp; Sources
        </a>
      </span>
    </li>
  </ul>
</nav>
