<!DOCTYPE html>
<html lang="en">
    <head>
<% include templates/head %>
    </head>
    <body>
<% include templates/header %>

<h2><%= welcome %></h2>

<div>
    <p>
    Work-In-Progress
    </p>
</div>

<br/>
<% include templates/footer %>
</body>
</html>
