<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/fragment-head %>
</head>

<body>
    <% include templates/fragment-header %>

    <h2>
        <%= welcome %>
    </h2>

    <div id="content">
        <% include templates/fragment-sample-routes %>
        <% include templates/fragment-plugin-routes %>
    </div>

    <br />
    <% include templates/fragment-footer %>
</body>

</html>
