<!DOCTYPE html>
<html lang="en">

<head>
    <% include fragment-head %>
</head>

<body>
    <% include fragment-header %>

<main id="content">
    <% include fragment-welcome %>

    <% include fragment-sample-routes %>
    <%# include fragment-spacer %>
    <% include fragment-plugin-routes %>
</main>

    <% include fragment-footer %>
</body>

</html>
