<!DOCTYPE html>
<html lang="en">

<!-- Layout: 'layout' //-->
<%- include('fragment-head') -%>

<body>
    <%- include('fragment-header') -%>

<main id="content">
    <%- body %>
</main>

    <%- include('fragment-footer') -%>
</body>

</html>
