<!DOCTYPE html>
<html lang="en">

<!-- keep this page full, to use even as a complete ejs template when no layout is set //-->
<head>
	<title><%= title %> - <%= projectName %></title>
</head>

<body>
<main id="content">
    Welcome to simple template for <%= projectName %>.
</main>
</body>

</html>
